/* nekstweb — local files in assets/fontsv2 */
@font-face {
  font-family: 'nekstweb';
  src: url('../assets/fontsv2/Nekst-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nekstweb';
  src: url('../assets/fontsv2/Nekst-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nekstweb';
  src: url('../assets/fontsv2/Nekst-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nekstweb';
  src: url('../assets/fontsv2/Nekst-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nekstweb';
  src: url('../assets/fontsv2/Nekst-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nekstweb';
  src: url('../assets/fontsv2/Nekst-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nekstweb';
  src: url('../assets/fontsv2/Nekst-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
